<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <title>Vue todolist</title>

</head>
<body>
    <div id="app">
        <input type="text" v-model="input">
        <button v-on:click="add">新增此事項</button>
        
        <ul>
            <li v-for="item in items" v-bind:contenteditable="edit" v-on:click="write">{{item}}</li>
        </ul>
        <button v-on:click="cut">delete</button>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                input:" ",
                items:
                [
                'apple',
                'banana',
                'watermelon',
                ],
                edit:"false",
            },
            methods:{
                add (){
                    if(this.input != " "){
                        this.items.push(this.input);
                    this.input=" ";
                    }
                    
                },
                cut(){
                    this.items.pop();
                },
                write(){
                    this.edit = "true";
                }
      
            },
        })
    </script>
</body>
</html>